body {
  background-color: #f7f7f785;
  margin: 0;
}

/*--------Mobile Header------*/
header h1 {
  font-size: 90px;
  color: #F18805;
  margin: 10px 0;
  text-align: center;
  /* box-sizing: border-box; */
  /*background-color: rgb(206, 171, 239);*/
  /* font-family: ""; */
}

header h2{
  text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
  background-color:#111111;
  padding: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0px 20px;
  /* border: black solid 2px;
  border-radius: 10%; */
}

header section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;;
}

header img{
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-top: 30px; */
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: #F18805 solid 5px;
  border-radius: 50%;
}

/*-------------main------------*/
main {
  font-size: 20px;
  text-align: center;
  list-style-position: inside;
}

main h2 {
  font-size: 40px;
}

/*----groups and items-----*/
.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
}

.group ul{
  padding: 0;
}

.item{
  flex: 1;
}

.item-double{
  flex: 2;
}

/*--------------footer------------*/
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 0 20px;
  font-size: 15px;
  background-color: #111111;
}

footer h3{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

footer ul{
  padding: 0;
  display: flex;
  justify-content: space-around;
}

footer ul li {
  list-style: none;
  padding-right: 10px;
}

footer ul li:last-child {
  padding-right: 0;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:visited {
  color: grey;
}

footer ul li a:active {
  color: #006e90;
}

footer p a {
  text-decoration: none;
  color:#fff;
}
  
/*--------Media Query--------*/
@media all and (min-width: 800px){
/*---Desktop Header---*/
  header nav a:hover {
    color: #F18805;
    text-decoration: none;
  }
  header nav a:active {
    color: #006e90;
  }
  .media{
    display:flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    padding: 40px 20px;
  }
  .media img{
    order: -1;
  }
  .media div{
    text-align: center;
  }

/*---About---*/
  .group{
    flex-direction: row;
  }
}
